body {
    font-family: Shantell Sans Normal, Rec Mono Casual, SF Pro, Inter, sans-serif;
    font-weight: 500
}

pre,
code {
    font-family: Berkeley Mono, IBM Plex Mono, SF Mono, Jetbrains Mono, monospace
}
